html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

/* Buttons */
button {
  font-weight: bold;
  padding: 1px 10px;
  margin: 1px 5px;
}

h1 {
  font-weight: normal;
  font-size: 120%;
  margin-left: 5px;
  margin-right: 5px;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
}
td {
  padding: 0;
  vertical-align: top;
}
button {
}

/* Sprited icons. */
.trash {
  background-position: 0px 0px;
}
.link {
  background-position: -21px 0px;
}
.run {
  background-position: -42px 0px;
}

#gamepanel {
  margin-top: 1em;
  margin-left: 1.5em;
  font-family: sans-serif;
}

.level_dot {
    border: 1px solid #DDD;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.invisible {
    display: none;
}

.visible {
    display: inline-block;
}

.level_done, .level_dot:hover, .level_number:hover {
    background-color: #DDD;
    color: #000;
}
.level_number {
    border: 1px solid #DDD;
    border-radius: 20px;
    padding: 6px 12px;
    color: #888;
}
